# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Force LF line endings for code & configs
*.cpp text eol=lf
*.h text eol=lf
*.qml text eol=lf
*.rs text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.proto text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
